# macOS
.DS_Store

# Editors
.vscode/
.idea/
*.swp
*.swo
*~

# Swift Package Manager
.build/
.index-build/
.swiftpm/
Packages/
Package.resolved

# Xcode
*.xcodeproj
*.xcworkspace
xcuserdata/
DerivedData/
*.xcuserstate

# Docs
.docc-build
